<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>


<div class="container">
        <h1>Test CBC encryption mode</h1>

    <form method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        {% if flag %}
        <p class="flag">{{ flag }}</p>
        {% endif %}

        {% if info %}
        <p class="info">{{ info }}</p>
         {% endif %}

        <input type="submit" value="Login"><br>
    </form>

</div>
<span style="display: none;">Tip：Account has been encrypted for session/cookie</span>

</body>
</html>
